In [227]:
import pandas as pd

In [228]:
X = pd.read_csv('training_set_features.csv')
y = pd.read_csv('training_set_labels.csv')
X_test = pd.read_csv('test_set_features.csv')

In [229]:
X.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [230]:
y.head()

   respondent_id  xyz_vaccine  seasonal_vaccine
0              0            0                 0
1              1            0                 1
2              2            0                 0
3              3            0                 1
4              4            0                 0

In [231]:
X.select_dtypes(include = 'object').isna().sum().sort_values()

age_group                    0
race                         0
sex                          0
hhs_geo_region               0
census_msa                   0
education                 1407
marital_status            1408
employment_status         1463
rent_or_own               2042
income_poverty            4423
employment_industry      13330
employment_occupation    13470
dtype: int64

In [232]:
X.select_dtypes(exclude = 'object').isna().sum().sort_values()

respondent_id                      0
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_antiviral_meds         71
behavioral_outside_home           82
behavioral_large_gatherings       87
xyz_concern                       92
xyz_knowledge                    116
behavioral_touch_face            128
behavioral_avoidance             208
household_adults                 249
household_children               249
opinion_xyz_risk                 388
opinion_xyz_vacc_effective       391
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
health_worker                    804
child_under_6_months             820
chronic_med_condition            971
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
health_insurance               12274
dtype: int64

In [233]:
X.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [234]:
col1 = ['xyz_concern', 'xyz_knowledge', 'behavioral_antiviral_meds', 'behavioral_avoidance', 'behavioral_face_mask', 'behavioral_wash_hands','behavioral_large_gatherings', 'behavioral_outside_home','behavioral_touch_face', 'doctor_recc_xyz','chronic_med_condition', 'child_under_6_months', 'health_worker', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk','opinion_xyz_sick_from_vacc','household_adults','household_children','age_group','sex','income_poverty','employment_status','hhs_geo_region','census_msa']

In [235]:
col2 = ['behavioral_antiviral_meds', 'behavioral_avoidance', 'behavioral_face_mask', 'behavioral_wash_hands','behavioral_large_gatherings', 'behavioral_outside_home','behavioral_touch_face', 'doctor_recc_seasonal','chronic_med_condition', 'child_under_6_months', 'health_worker', 'opinion_seas_vacc_effective', 'opinion_seas_risk','opinion_seas_sick_from_vacc','household_adults','household_children','age_group','sex','income_poverty','employment_status','hhs_geo_region','census_msa']

In [236]:
X_xyz = X[col1].select_dtypes(exclude = 'object')

In [237]:
X_seas = X[col2].select_dtypes(exclude = 'object')

In [238]:
X_xyz.head()

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,household_adults,household_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,5.0,4.0,4.0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,3.0,1.0,1.0,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,3.0,2.0,1.0,0.0

In [239]:
X_xyz.fillna(method = 'bfill', inplace = True)

In [240]:
X_seas.fillna(method = 'bfill', inplace = True)

In [241]:
from sklearn.linear_model import LogisticRegression

In [242]:
model_xyz = LogisticRegression()

In [243]:
model_xyz.fit(X_xyz, y['xyz_vaccine'])

LogisticRegression()

In [244]:
model_seas = LogisticRegression()

In [245]:
model_seas.fit(X_seas,y['seasonal_vaccine'])

LogisticRegression()

In [246]:
X_test_xyz = X_test[col1].select_dtypes(exclude = 'object').fillna(method = 'bfill')

In [247]:
X_test_seas = X_test[col2].select_dtypes(exclude = 'object').fillna(method = 'bfill')

In [248]:
y_pred =pd.DataFrame(X_test['respondent_id'])

In [249]:
type(y_pred)

pandas.core.frame.DataFrame

In [250]:
y_pred_xyz = pd.DataFrame((model_xyz.predict_proba(X_test_xyz))[:,1])

In [251]:
y_pred_seas = pd.DataFrame((model_seas.predict_proba(X_test_seas))[:,1])

In [252]:
y_pred['xyz_vaccine'] = y_pred_xyz

In [253]:
y_pred['seasonal_vaccine'] = y_pred_seas

In [254]:
y_pred

       respondent_id  xyz_vaccine  seasonal_vaccine
0              26707     0.134512          0.366626
1              26708     0.073281          0.150137
2              26709     0.370462          0.538511
3              26710     0.390528          0.793935
4              26711     0.231540          0.630330
...              ...          ...               ...
26703          53410     0.340810          0.593708
26704          53411     0.078682          0.411066
26705          53412     0.164272          0.378455
26706          53413     0.040189          0.317178
26707          53414     0.406041          0.699652

[26708 rows x 3 columns]

In [256]:
y_pred.to_csv('submission.csv', index = False)